.page-title {
  font-size: clamp(16px, 3vw, 32px);
  color: #3164f4;
  text-align: center;
  margin-top: 10vh;
}

.content {
  margin-top: 5vh;
  flex-grow: 1;
  overflow: auto;
  margin-left: 7vh;
  margin-right: 7vh;
  align-items: center;
}

.page-subtitle {
  font-size: clamp(16px, 2.5vw, 32px);
  color: black;
  text-align: left;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  flex-grow: 1;
  overflow: auto;
  margin-left: 1.2vh;
  margin-right: 1.2vh;
  align-items: center;
}

.course-button {
  background-color: #ffffff;
  color: black;
  border: 2px solid #3164f4;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 1vh;
  font-size: 2.3vw;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 80%;
}

button:hover {
  background-color: #3164f4;
  color: white;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}
