<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencia UNI</title>
    <link rel="stylesheet" href="classrooms.component.css" />
  </head>
  <body>
    <div class="container">
      <h1>Asistencia UNI</h1>
      <div class="button-container">
        <h2>Cursos</h2>
        <button class="course-button">
          Ingeniería de Software - A
          <span class="icon">JS</span>
        </button>
        <button class="course-button">
          Diseño Web - B
          <span class="icon">💻</span>
        </button>
        <button class="course-button">
          Matemática III - A
          <span class="icon">📘</span>
        </button>
        <button class="course-button">
          Diseño de Algoritmos - C
          <span class="icon">🔍</span>
        </button>
      </div>
    </div>
  </body>
</html>
