<div class="header">
  <div *ngIf="role === 'PROFESSOR'">
    {{this.userInfo?.role}}: {{this.userInfo?.fullName}}
  </div>

  <img [style.cursor]="'pointer'" *ngIf="role === 'PROFESSOR'" src="svgs/logout.svg" (click)="logout()" />
</div>

<a routerLink="/menu" *ngIf="role === 'STUDENT'"><img src="svgs/arrow-left.svg" class="arrow-left" /></a>

<div class="page-title">
  <h1>Asistencia UNI</h1>
</div>

<div class="content">
  <div class="page-subtitle">
    <h2>Cursos</h2>
  </div>

  <div class="container-loader" *ngIf="loading">
    <div class="loader">
    </div>
  </div>
  <div class="buttons-container">

    <button *ngFor="let section of sections" (click)="handlerRedirect(section.sectionId)" class="course-button">
      {{ section.courseName +" - " + section.codSection }}
    </button>

  </div>
</div>