.container {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  flex-grow: 1;
  overflow: auto;
  margin-left: 5vh;
  margin-right: 5vh;
  align-items: center;
}

h1 {
  font-size: clamp(16px, 3vw, 32px);
  color: #3164f4;
  text-align: center;
  margin-top: 8vh;
}

.cuadrado {
  width: 250px;
  height: 350px;
  border-width: 1.5px;
  border-color: #3164f4;
  border-style: solid;
  border-radius: 8px;
  margin: 20px;
}
