<a routerLink="../../"><img src="svgs/arrow-left.svg" class="arrow-left" /></a>

<div class="page-title">
    <h1>Asistencia UNI</h1>
</div>

<div class="content">
    <button class="estadisticas-container">
        <a routerLink="../"><img src="images/stats.png" alt="Estadísticas"></a>
        <div class="page-subtitle">
            <h2>Estadísticas</h2>
        </div>
    </button>
    <div class="page-subtitle">
        <h2>Sesiones</h2>
    </div>
    <div class="buttons-container">
        <button *ngFor="let sesion of sesiones" [class.session-button-a]="sesion.tipo === 'A'"
            [class.session-button-b]="sesion.tipo === 'B'" [class.session-button-c]="sesion.tipo === 'C'"
            [class.session-button-d]="sesion.tipo === 'D'" [disabled]="sesion.tipo === 'D'"
            (click)="handleRedirect(sesion.id, sesion.tipo)">
            {{ sesion.nombre }} - {{ sesion.fecha }}
        </button>
    </div>
</div>

<div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal-content">
        <h2>¿Desea recuperar la clase en este momento?</h2>
        <div class="modal-buttons">
            <button (click)="recoverSession()">Sí</button>
            <button (click)="cerrarModal()">No</button>
        </div>
    </div>
</div>