.container-loader {
  display: flex;
  margin-left: 5vh;
  margin-right: 5vh;
  align-items: center;
  justify-content: center;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 30vh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.page-title {
  font-size: clamp(16px, 3vw, 32px);
  color: #3164f4;
  text-align: center;
  margin-top: 10vh;
}

.content {
  margin-top: 5vh;
  flex-grow: 1;
  overflow: auto;
  margin-left: clamp(16px, 7vh, 32px);
  margin-right: clamp(16px, 7vh, 32px);
  align-items: center;
}

.page-subtitle {
  font-size: clamp(16px, 2vw, 24px);
  color: black;
  text-align: left;
}

.estadisticas-container {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 150px;
  text-align: center;
}

.estadisticas-container img {
  width: 80px;
  height: auto;
  margin-bottom: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  flex-grow: 1;
  overflow: auto;
  margin-left: 1.2vh;
  margin-right: 1.2vh;
  align-items: center;
}

.session-button-a {
  color: black;
  border: 2px solid #3164f4;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 1vh;
  font-size: clamp(13px, 3vw, 30px);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: clamp(250px, 70%, 600px);
  background-color: #d2ebff;
}

.session-button-b {
  color: black;
  border: 2px solid #3164f4;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 1vh;
  font-size: clamp(13px, 3vw, 30px);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: clamp(250px, 70%, 600px);
  background-color: #deffc1;
}

.session-button-c {
  color: black;
  border: 2px solid #3164f4;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 1vh;
  font-size: clamp(13px, 3vw, 30px);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: clamp(250px, 70%, 600px);
  background-color: #fecfcf;
}

.session-button-d {
  color: black;
  border: 2px solid #3164f4;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 1vh;
  font-size: clamp(13px, 3vw, 30px);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: clamp(250px, 70%, 600px);
  background-color: #ffffff;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons button:first-child {
  background-color: #3164f4;
  color: white;
}

.modal-buttons button:first-child:hover {
  background-color: #254cad;
}

.modal-buttons button:last-child {
  background-color: #3164f4;
  color: white;
}

.modal-buttons button:last-child:hover {
  background-color: #254cad;
}
