<a routerLink="../"><img src="svgs/arrow-left.svg" class="arrow-left" /></a>

<div class="page-title">
  <h1>Asistencia UNI</h1>
</div>

<div class="content">
  <div class="page-subtitle">
    <h2>Asistencia</h2>
  </div>
  <div class="container-loader" *ngIf="loading; else attendancesInfo">
    <div class="loader">
    </div>
  </div>

  <ng-template class="div" #attendancesInfo>
    <div class="asistencia-container">
      <!-- nro sesion -->
      <table>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Asistencia</th>
        </tr>
        <tr *ngFor="let registro of registros, index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ registro.fullName }}</td>
          <td>{{ attendancesTrue.includes(registro.fullName) ? 'Sí' : 'No' }}</td>
        </tr>
      </table>
    </div>
    <div class="total">
      <span>Total: {{ totalAttendances }} / {{ registros.length }}</span>
      <span>{{ (totalAttendances/ registros.length) * 100 | number:'1.1-2' }}%</span>
    </div>

    <button (click)="downloadCSV()">Download CSV</button>
  </ng-template>
</div>