<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencia UNI - Ingeniería de Software A</title>
    <link rel="stylesheet" href="session-history.component.css" />
  </head>
  <body>
    <div class="container">
      <a href="../login/login.component.html" class="back-button">&larr;</a>
      <h1>Ingeniería de Software - A</h1>
      <table class="attendance-table">
        <thead>
          <tr>
            <th>Estudiante</th>
            <th>Presente</th>
          </tr>
        </thead>
        <tr *ngFor="let registro of registros">
          <td>a</td>
          <td>{{ registro.asistencia }}</td>
        </tr>
      </table>

      <div class="summary">
        <span>Total: </span>
        <!--{{ getAsistencias() }} / {{ registros.length }} -->
        <span>Fecha: </span>
        <!-- {{ registro.fecha }} -->
      </div>
    </div>
  </body>
</html>
