.container-loader {
  display: flex;
  margin-left: 5vh;
  margin-right: 5vh;
  align-items: center;
  justify-content: center;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 40vh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.page-title {
  font-size: clamp(16px, 3vw, 32px);
  color: #3164f4;
  text-align: center;
  margin-top: 8vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  flex-grow: 1;
  overflow: auto;
  margin-left: 5vh;
  margin-right: 5vh;
  align-items: center;
  margin-bottom: 20px;
}

.page-subtitle {
  align-self: flex-start;
  font-size: clamp(15px, 2vw, 32px);
  color: black;
  text-align: left;
}

.asistencia-container {
  border: 2px solid #3164f4;
  border-radius: 10px;
  width: clamp(285px, 45vw, 700px);
}

table {
  width: 100%;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  font-size: clamp(18px, 2vw, 25px);
  color: #3164f4;
  font-weight: 600;
  width: clamp(250px, 30vw, 380px);
}
