<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencia UNI - Ingeniería de Software A</title>
    <link rel="stylesheet" href="session-history.component.css" />
  </head>
  <body>
    <div class="container">
      <a href="../login/login.component.html" class="back-button">&larr;</a>
      <h1>Ingeniería de Software - A</h1>
      <table class="attendance-table">
        <thead>
          <tr>
            <th>Estudiante</th>
            <th>Presente</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nombre de estudiante 1</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 2</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 3</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 4</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 5</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 6</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 7</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Nombre de estudiante 8</td>
            <td>Sí</td>
          </tr>
        </tbody>
      </table>
      <div class="summary">
        <p>total : 7/8</p>
        <p>Fecha : 9/10/2024</p>
      </div>
    </div>
  </body>
</html>
